*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.button-primary {
  display: block;
  width: 190px;
  line-height: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background-color: #ff3300;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

/* Header */
.header {
  color: #ffffff;
}

.header__top {
  padding-top: 80px;
  background: url("../image/header-image.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 155px;
  background-attachment: fixed, fixed;
}

.header__logo {
  margin-bottom: 95px;
}

.header__description {
  width: 570px;
}

.header__title {
  font-size: 45px;
  line-height: 55px;
}

.header__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* header__bottom */
.header__bottom {
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 108px 0;
}

.header__bottom--item {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
}

.header__bottom--item:not(:last-child) {
  margin-right: 33px;
}

.item__icon {
  margin-right: 33px;
}

.item__text {
  line-height: 30px;
}

/* begin section-info */
.section-info {
  padding: 70px 0;
  color: #000000;
}

.section-info--left {
  padding-right: 95px;
}

.section-info--item {
  width: 50%;
}

.section-info--title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  margin: 0 0 27px;
}

.section-info--text {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 0;
}

.section-info--right {
  flex-wrap: wrap;
  align-content: stretch;
}

.section-module {
  width: 50%;
  padding-top: 30px;
}

.section-module--icon {
  height: 52px;
  display: flex;
  align-items: end;
  margin-bottom: 18px;
}

.section-module--title {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 13px;
  color: #ff3300;
  text-transform: uppercase;
}

.section-module--text {
  margin: 0;
}

/* begin section-customer */
.section-customer--item {
  width: 50%;
}

.section-customer--img {
  display: block;
  width: 100%;
}

.section-customer--right {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  background-color: #292d34;
  color: #ffffff;
}

.section-customer--body {
  width: 380px;
}

.section-customer--title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  margin: 0 0 20px;
}

.section-customer--text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/* begin section-video */
.section-video {
  padding-top: 39px;
  padding-bottom: 69px;
  text-align: center;
}

.section-video--title,
.section-slider--title {
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  margin-bottom: 69px;
}

/* begin section-slider */
.section-slider {
  margin-bottom: 67px;
}

.section-slider--title {
  margin-bottom: 84px;
  text-align: center;
}

.slider {
  padding: 0 80px;
}

.slider-item {
  padding: 0 14px;
}

.slider-description {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 25px;
}

.slider-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.slider-description {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.slick-arrow {
  position: absolute;
  width: 20px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  font-size: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.slick-prev {
  left: 0;
  background: url("../image/svg/arrow-left.svg") no-repeat 0 0;
}

.slick-next {
  right: 0;
  background: url("../image/svg/arrow-right.svg") no-repeat 0 0;
}

/*  begin section-partner*/
.section-partner {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 73px;
}

.section-partner--img {
  padding: 0 30px;
}

.section-partner--img:first-child {
  padding-left: 0;
}

.section-partner--img:last-child {
  padding-right: 0;
}

/* footer */
.footer {
  background: #292d34;
  color: #ffffff;
  padding: 75px 0 55px;
}

.form {
  width: 730px;
  margin: 0 auto;
  padding-bottom: 105px;
}

.form-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 90px;
}

.form-content {
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group,
.form-group__txt {
  margin-bottom: 44px;
}

.form-label {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: #ff3300;
  margin-bottom: 8px;
}

.form-input {
  width: 350px;
  height: 50px;
  font-weight: 300;
  border: 0;
  border-radius: 10px;
  padding: 0 10px;
}

.form-inline {
  align-items: center;
  color: #ff3300;
  margin-bottom: 35px;
}

.form-inline--title {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  margin-right: 30px;
}

.form-inline label {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.form-inline .form-group {
  margin-bottom: 0;
}

.custom-checkbox:not(:last-child) {
  margin-right: 30px;
}

.custom-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.custom-checkbox label {
  position: relative;
  cursor: pointer;
}

.custom-checkbox label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  padding: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  background: #ffffff;
}

.custom-checkbox input:checked+label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 10px;
  width: 10px;
  height: 14px;
  border: solid #ff3300;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-full {
  width: 100%;
}

.form-txt {
  width: 100%;
  height: 80px;
  border: 0;
  border-radius: 10px;
  resize: none;
  background: #ffffff;
  padding: 4px 10px;
  font-weight: 300;
}

.footer-panel {
  justify-content: space-between;
  align-items: center;
}

.footer-panel--left {
  align-items: center;
}

.footer-logo {
  margin-right: 30px;
}

.footer-panel--copy,
.footer-panel--right a {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

/* @Media */
@media (max-width: 1490px) {
  .section-customer--item {
    position: relative;
  }

  .section-customer--img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 991px) {
  .button-primary {
    line-height: 30px;
    font-size: 12px;
    letter-spacing: 1.2px;
    padding: 14px 33px;
  }

  .header__top {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .header__logo {
    margin-bottom: 30px;
  }

  .header__title {
    width: 70%;
    font-size: 40px;
    line-height: 50px;
  }

  .header__text {
    font-size: 16px;
    line-height: 26px;
  }

  .header__bottom {
    padding: 30px 0;
  }

  .item__icon {
    margin-right: 20px;
  }

  .item__text {
    font-size: 14px;
    line-height: 20px;
  }

  .section-info {
    padding: 40px 0;
  }

  .section-info--left {
    width: 45%;
    padding-right: 30px;
  }

  .section-info--title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .section-info--text {
    font-size: 14px;
    line-height: 24px;
  }

  .section-info--right {
    width: 55%;
  }

  .section-module {
    padding-top: 15px;
  }

  .section-module:nth-child(odd) {
    padding-right: 15px;
  }

  .section-module:nth-child(even) {
    padding-left: 15px;
  }

  .section-module--icon {
    width: 40px;
    margin-bottom: 14px;
  }

  .section-module--title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3px;
  }

  .section-module--text {
    font-size: 14px;
    line-height: 24px;
  }

  .section-customer--right {
    padding: 47px 69px 47px 45px;
  }

  .section-customer--title {
    font-size: 30px;
    line-height: 40px;
  }

  .section-customer--text {
    font-size: 14px;
  }

  .section-video {
    padding: 30px 0;
  }

  .section-video--title,
  .section-slider--title {
    font-size: 25px;
    margin-bottom: 26px;
  }

  .video-content {
    width: 570px;
    height: 320px;
  }

  .section-slider {
    margin-bottom: 50px;
  }

  .slider-item {
    padding: 0 46px;
  }

  .slider-description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 42px;
  }

  .slider-title {
    font-size: 16px;
    line-height: 20px;
  }

  .slider-description {
    font-size: 14px;
    line-height: 20px;
  }

  .section-partner {
    margin-bottom: 35px;
  }

  .section-partner--img {
    width: 75%;
    padding: 0 25px;
  }

  .footer {
    padding: 40px 0;
  }

  .form {
    width: 100%;
    padding-bottom: 30px;
  }

  .form-content .form-group {
    width: 330px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .form-content {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .form-label {
    font-size: 13px;
  }

  .form-input {
    width: 100%;
    font-size: 14px;
  }

  .form-inline {
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .form-inline--title {
    width: 180px;
    margin-right: 30px;
  }

  .form-group__container {
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .custom-checkbox:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }

  .custom-checkbox {
    width: 50%;
    padding-bottom: 20px;
  }


  .form-txt {
    width: 100%;
    margin-right: 40px;
    font-size: 12px;
  }

  .form-button {
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .footer-logo {
    margin-right: 15px;
  }

  .footer-logo__img {
    width: 45px;
  }

  .footer-panel--copy,
  .footer-panel--right a {
    font-size: 12px;
    line-height: 19px;
  }
}

@media (max-width: 767px) {
  .header__top {
    padding-bottom: 40px;
  }

  .header__logo {
    margin-bottom: 80px;
  }

  .header__title {
    width: 50%;
    font-size: 25px;
    line-height: 35px;
  }

  .header__text {
    width: 50%;
    font-size: 14px;
    line-height: 24px;
  }

  .header__bottom {
    flex-direction: column;
    padding: 20px 0;
  }

  .header__bottom .container {
    flex-direction: column;
  }

  .header__bottom--item {
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }

  .header__bottom--item:not(:last-child) {
    margin-right: 0;
  }

  .item__icon {
    width: 40px;
    margin-right: 25px;
  }

  .item__text {
    width: 50%;
    font-size: 14px;
    line-height: 20px;
  }

  .section-info .container {
    flex-direction: column;
  }

  .section-info--left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .section-info--right {
    width: 100%;
    justify-content: start;
  }

  .section-module:nth-child(2n + 1),
  .section-module:nth-child(2n) {
    padding: 0;
  }

  .section-module {
    width: 80%;
    margin: 20px 0;
  }

  .section-customer {
    flex-direction: column;
  }

  .section-customer--left,
  .section-customer--right {
    width: 100%;
  }

  .section-customer--right {
    justify-content: center;
  }

  .section-customer--img {
    width: 100%;
    height: auto;
    position: relative;
    transform: initial;
    left: auto;
  }

  .section-customer--title {
    width: 100%;
    font-size: 25px;
    line-height: 35px;
  }

  .section-video {
    padding: 40px 0;
  }

  .section-video--title,
  .section-slider--title {
    font-size: 30px;
    line-height: 40px;
  }

  .video-content {
    width: 100%;
  }

  .slider-description {
    font-size: 16px;
    line-height: 26px;
  }

  .slider-title {
    font-size: 20px;
  }

  .slider-subtitle {
    font-size: 16px;
    line-height: 25px;
  }

  .section-partner {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .section-partner--item {
    width: 30%;
  }

  .footer {
    padding: 36px 0 60px;
  }

  .form-title {
    font-size: 25px;
    line-height: 35px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-label {
    font-size: 14px;
  }

  .form-input {
    height: 80%;
    font-size: 14px;
  }

  .form-inline {
    flex-direction: column;
    justify-content: center;
    margin: 15px 0 30px;
  }

  .form-inline--title {
    margin: 16px 0;
  }

  .form-label {
    font-size: 14px;
  }

  .form-group__container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-txt {
    width: 100%;
    font-size: 14px;
    margin-right: 0;
  }

  .footer-panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-panel--left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 17px;
  }

  .footer-panel--copy,
  .footer-panel--right a {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 575px) {
  .header__top {
    padding: 40px 0;
  }

  .header__logo {
    margin-bottom: 30px;
  }

  .header__title {
    width: 30%;
    font-size: 18px;
    line-height: 24px;
  }

  .slider {
    padding: 10px;
  }

  .slider-description {
    font-size: 16px;
    line-height: 26px;
  }

  .slider-title {
    font-size: 20px;
  }

  .footer {
    padding: 36px 0 60px;
  }

  .form-title {
    font-size: 25px;
    line-height: 35px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-content .form-group {
    width: 100%;
  }

  .form-label {
    font-size: 14px;
  }

  .form-input {
    height: 80%;
    font-size: 14px;
  }

  .form-inline {
    flex-direction: column;
    justify-content: center;
    margin: 15px 0 30px;
  }

  .form-inline--title {
    margin: 16px 0;
  }

  .form-group__container {
    flex-direction: column;
    justify-content: center;
  }

  .custom-checkbox {
    width: 100%;
  }

  .form-txt {
    font-size: 14px;
    margin-right: 0;
  }

  .footer-panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-panel--left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 17px;
  }

  .footer-panel--copy,
  .footer-panel--right a {
    font-size: 14px;
    line-height: 20px;
  }
}
