*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.button-primary {
  width: 190px;
  line-height: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background-color: #ff3300;
  border: none;
  cursor: pointer;
}

/* Header */
.header {
  color: #ffffff;
}

.header__top {
  background: url("../image/header-image.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 155px;
}

.header__logo {
  margin: 80px 0 95px;
}

.header__description {
  width: 570px;
}

.header__title {
  font-size: 45px;
  line-height: 55px;
}

.header__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* header__bottom */
.header__bottom {
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 108px 0;
}

.header__bottom--item {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
}

.header__bottom--item:not(:last-child) {
  margin-right: 33px;
}

.item__icon {
  margin-right: 33px;
}

.item__text {
  line-height: 30px;
}

/* begin section-info */
.section-info {
  padding: 70px 0;
  color: #000000;
}

.section-info--left {
  padding-right: 95px;
}

.section-info--item {
  width: 50%;
}

.section-info--title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  margin: 0 0 27px;
}

.section-info--text {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 0;
}

.section-info--right {
  flex-wrap: wrap;
  align-content: flex-start;
}

.section-module {
  width: 50%;
  padding-top: 30px;
}

.section-module--icon {
  height: 52px;
  display: flex;
  align-items: end;
  margin-bottom: 18px;
}

.section-module--title {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 13px;
  color: #ff3300;
  text-transform: uppercase;
}

.section-module--text {
  margin: 0;
}

/* begin section-customer */
.section-customer--item {
  width: 50%;
}

.section-customer--img {
  display: block;
  width: 100%;
}

.section-customer--right {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  background-color: #292D34;
  color: #ffffff;
}

.section-customer--body {
  width: 380px;
}

.section-customer--title {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  margin: 0 0 20px;
}

.section-customer--text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/*  */
